.page {
  max-width: 1280px;
  margin: 0 auto;
  color: #FFFFFF;
  background-color: #2A2C2F;
  font-family: "Inter", "Arial";
  border: solid red;
}
@media screen and (max-width: 768px){

}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 96px);
  margin: 28px auto 0;
  border: solid red;
}
.header__logo {
  width: 176px;
  height: 52px;
}
.header__lang-links {
  font-weight: 400;
  line-height: 28px;
  font-size: 24px;
    
}
.header__lang-link {
  color: #FFFFFF;
  text-align: right;
}
.header__lang-link:last-child {
  margin-left: 18px;
  text-decoration: none;
}
.content {
  display: flex;
  flex-direction: column;
}
.lead {
  display: flex;
  flex-direction: column; 
  align-items: center;
  width: calc(100% - 96px);
  border: solid blueviolet;
  margin: 0 auto;
  padding: 0;
}
.lead__title {
 font-weight: 900;
 line-height: 100px;
 font-size: 96px;
 max-width: 720px;
 text-align: center;
 margin: 48px auto 0;
 border: solid red;
}
.lead__subtitle {
  font-weight: 400; 
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  width: 640px;
  height: 72px;
  padding: 0;
  margin-bottom: 0;
  margin-top: 32px;
  border: solid red;
}
.lead__image {
  margin-top: 56px;
  width: 100%;
  border: solid red;

}
.lead__caption {
  font-weight: 400; 
  font-size: 10px;
  line-height: 14px;
  text-transform: uppercase;
  align-self: first baseline;
  margin-top: 8px;
  margin-bottom: 0;
  padding: 0;
  border: solid red;
 }
.intro {
  display: flex;
  flex-direction: column;
  width: 690px;
  margin-top: 92px;
  margin-left: 48px;
  padding: 0;
  border: solid red;
}
.intro__title {
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 107%;
  margin: 0;
}
.intro__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;  
  margin-top: 40px;
  margin-bottom: 0;
}
.intro__list {
  list-style-type: none;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 150%;
  margin-top: 33px;
  padding: 0;
  margin-bottom: 0;
}
.photo-grid {
  width: calc(100% - 96px);
  margin-top: 92px;
}
.photo-grid__items {
  display: grid;
  list-style-type: none;
  margin-top: 92px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 14px;
  width: 100%;
  }
.photo-grid__item {
  border-style: none;
  width: 100%;
  box-sizing: border-box;
 

}
.photo-grid__image {
  object-fit: cover;
  border-style: none;
}

.cover {
  background-color:#181A19; 
  display: flex;
  padding-top: 92px;
  padding-bottom: 92px;
}

.cover__overlay {
   display: flex;
   margin: auto;
   flex-direction: column;
   width: 1184px;
   height: 740px;
   background-image: url(https://cd2.dvizhenie24.ru/2023/01/001-j21-railway-734-101-1000x521.jpg);
   background-size: cover;
   transition: opacity 0.3s easy;
  }

.cover__overlay:hover{
    opacity: 0.2;
        }

.cover__title {
    font-family: 'Inter';
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
   margin: auto;
    margin-bottom: 0;
    color: #FFFFFF;
    max-width: 560px;
    z-index: 1;
    }

.cover__subtitle {
  font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin: auto;
    margin-top: 0;
    text-align: center;
    color: #FFFFFF;
    max-width: 360px;
    z-index: 1;
    padding-top: 32px;
}

  .footer__copyright {
    margin: 0;
    font-weight: 400;
   }