@import url('../vendors/inter.css');

.page {
  max-width: 1280px;
  color: #FFFFFF;
  background-color: #2A2C2F;
  font-family: 'Inter', sans-serif;
  border: solid red;
}
@media screen and (max-width: 768px){

}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 96px);
  font-family: 'Inter';
  margin: 28px auto 0;
  border: solid red;
}
.header__logo {
  max-width: 176px;
}
.header__lang-links {
  display: flex;
  font-weight: 400;
  line-height: 28px;
  font-size: 24px;
  gap: 18px;    
}
.header__lang-link_active:hover {
  text-decoration: none;
}
.header__lang-link {
  color: #FFFFFF;  
  text-align: right;
}

.content {
  display: flex;
  font-family: 'Inter';
  flex-direction: column;
}
.lead {
  display: flex;
  font-family: 'Inter';
  flex-direction: column; 
  align-items: center;
  width: calc(100% - 96px);
  border: solid blueviolet;
  margin: 0 auto;
  padding: 0;
}
.lead__title {
 font-weight: 900;
 line-height: 100px;
 font-size: 96px;
 max-width: 720px;
 text-align: center;
 margin: 48px auto 0;
 border: solid red;
}
.lead__subtitle {
  font-weight: 400; 
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  width: 640px;
  height: 72px;
  padding: 0;
  margin-bottom: 0;
  margin-top: 32px;
  border: solid red;
}
.lead__image {
  margin-top: 56px;
  width: 100%;
  border: solid red;

}
.lead__caption {
  font-weight: 400; 
  font-size: 10px;
  line-height: 14px;
  text-transform: uppercase;
  align-self: first baseline;
  margin-top: 8px;
  margin-bottom: 0;
  padding: 0;
  border: solid red;
 }
.intro {
  display: flex;
  font-family: 'Inter';
  flex-direction: column;
  width: 690px;
  margin-top: 92px;
  margin-left: 48px;
  padding: 0;
  border: solid red;
}
.intro__title {
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 107%;
  margin: 0;
}
.intro__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;  
  margin-top: 40px;
  margin-bottom: 0;
}
.intro__list {
  list-style-type: none;
  font-style: bold;
  font-weight: 700;
  font-size: 12px;
  line-height: 150%;
  margin-top: 33px;
  padding: 0;
  margin-bottom: 0;
  color: #FFFFFF;
}
.intro__span-accent {
  font-style: normal;
  font-weight: 400;
}
.photo-grid {
  width: calc(100% - 96px);
  margin-top: 92px;
  margin-left: 48px;
  margin-right: 48px;
  border: solid blueviolet;
}
.photo-grid__items {
  display: grid;
  list-style-type: none;
  margin: 0;
  padding: 0;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 14px;
  }
.photo-grid__item {
   margin: 0;
   padding: 0;
   max-width: 300px;
  
   
 }
.photo-grid__image {
  width: 100%;
}
.places {
 display: flex;
 font-family: 'Inter';
 flex-direction: column;
 align-items: center;
 box-sizing: border-box;
 width: calc(100% - 96px);
 
}
.places__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(460px, 1fr));
  grid-gap: 48px 40px; 
  row-gap: 80px;
  max-width: 928px;
  list-style-type: none;
  padding: 0;
  width: 100%;
  border: solid rgb(95, 226, 43);
}
.place {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: 640px;
  border: solid blueviolet;
}
.place__image {
  max-width: 440px;
  max-height: 440px;
  object-fit: cover;
}


.cover {
  background-color:#181A19;
  font-family: 'Inter'; 
  margin-top: 92px;
  width: 100%;
  height: 640px;
  border: solid rgb(95, 226, 43);
}

.cover__overlay {
   display: flex;
   flex-direction: column;
   background-image: url(../sprint-3-images/cover-trains.jpg);
   background-position: center;
   background-size: cover;
   height: 640px;
   width: 100%;
  }

.cover__overlay:hover {
    opacity: 0.2;
  }
.cover__title {
    font-family: 'Inter';
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    align-self: first baseline;
   align-self: center;
   text-align: center;
    margin-top: 195px;
    margin-bottom: 32px;
    padding: 0;
    color: #FFFFFF;
    max-width: 560px;
    z-index: 1;
   }

.cover__subtitle {
  font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    align-self: center;
    text-align: center;
    color: #FFFFFF;
    max-width: 360px;
    z-index: 1;

}
.footer {
  display: flex;
  font-family: 'Inter';
  justify-content: space-between;
  margin: 92px 48px 48px 24px; 
  padding: 0;
  border: solid red;
}
.footer__links {
  display: flex;
  gap: 18px;
  margin: 0;
  padding: 0;
  border: solid red;
}
.footer__link {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  margin: 0;
  padding: 0;
  color:#FFFFFF;
  border: solid red;
}
  .footer__copyright {
  margin: 0;
  padding-bottom: 2px;
  font-family: 'Inter';
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  text-align: right;
  color: #FFFFFF;
  border: solid red;
  }